<!DOCTYPE html>
<html>
	<head>
	<title>Sun | Coast</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="bookstore project">
	<meta name="author" content="Michael Ion">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="includes/index.css">
	</head>
<body>
	<div class="grid">
		<header class="header">
		<h3>
			<a href="index.html">Home</a>
			<a href="inventory.in.html">Inventory</a>
		</h3>
		<section class="section">
			
		</section>
		<section class="section">
			<h1 class=""><i class="far fa-sun"></i> 
Sun | Coast <i class="fab fa-digital-ocean"></i>

</h1>
		</section>
	
    <h2 class="title">Add Items</h2>
    <form id="addForm" class="form-inline mb-3">
      <input type="text" class="form-control mr-2" id="item">
      <input type="submit" class="contact" value="Submit">
    </form>
    <h2 class="title">Items</h2>
    <ul id="items" class="list-group">    
    </ul>
</div>
<script type="text/javascript" src="includes/app1.js"></script>
</body>
</html>